/*
  BACKGROUND COLORS

  Prefix of class name : bg-
  Ex : bg-gray-pale, bg-red, bg-pink-dark
*/
.bg-black { background-color: #000; }
.bg-white { background-color: #fff; }
.bg-gray { background-color: #808080; }
.bg-gray-pale { background-color: #f2f2f2; }
.bg-gray-light { background-color: #ccc; }
.bg-gray-dark { background-color: #4d4d4d; }
.bg-gray-black { background-color: #262626; }
.bg-red { background-color: #f00; }
.bg-red-pale { background-color: #ffe5e5; }
.bg-red-light { background-color: #f99; }
.bg-red-dark { background-color: #900; }
.bg-red-black { background-color: #4d0000; }
.bg-orange { background-color: #ff8000; }
.bg-orange-pale { background-color: #fff2e5; }
.bg-orange-light { background-color: #fc9; }
.bg-orange-dark { background-color: #994c00; }
.bg-orange-black { background-color: #4d2600; }
.bg-yellow { background-color: #ff0; }
.bg-yellow-pale { background-color: #ffffe5; }
.bg-yellow-light { background-color: #ff9; }
.bg-yellow-dark { background-color: #990; }
.bg-yellow-black { background-color: #4c4d00; }
.bg-green { background-color: #0f0; }
.bg-green-pale { background-color: #e5ffe5; }
.bg-green-light { background-color: #9f9; }
.bg-green-dark { background-color: #090; }
.bg-green-black { background-color: #004d00; }
.bg-cyan { background-color: #0ff; }
.bg-cyan-pale { background-color: #e5ffff; }
.bg-cyan-light { background-color: #9ff; }
.bg-cyan-dark { background-color: #099; }
.bg-cyan-black { background-color: #004c4d; }
.bg-blue { background-color: #0040ff; }
.bg-blue-pale { background-color: #e5ecff; }
.bg-blue-light { background-color: #99b3ff; }
.bg-blue-dark { background-color: #002699; }
.bg-blue-black { background-color: #00134d; }
.bg-violet { background-color: #7f00ff; }
.bg-violet-pale { background-color: #f2e5ff; }
.bg-violet-light { background-color: #c9f; }
.bg-violet-dark { background-color: #4c0099; }
.bg-violet-black { background-color: #26004d; }
.bg-fuchsia { background-color: #f0f; }
.bg-fuchsia-pale { background-color: #ffe5ff; }
.bg-fuchsia-light { background-color: #f9f; }
.bg-fuchsia-dark { background-color: #909; }
.bg-fuchsia-black { background-color: #4d004c; }
.bg-pink { background-color: #ff0080; }
.bg-pink-pale { background-color: #ffe5f2; }
.bg-pink-light { background-color: #f9c; }
.bg-pink-dark { background-color: #99004d; }
.bg-pink-black { background-color: #4d0026; }
