/*! commoncolors.css v.1.0.0 Build #191115 */
/*
  blue
*/
.blue, .blue-3 { color: #05f; }
.blue-1 { color: #f0f5ff; }
.blue-2 { color: #80aaff; }
.blue-4 { color: #026; }
.bd-blue, .bd-blue-3 { border-color: #05f; };
.bd-blue-1 { border-color: #f0f5ff; }
.bd-blue-2 { border-color: #80aaff; }
.bd-blue-4 { border-color: #026; }
.bg-blue, .bg-blue-3 { background-color: #05f; }
.bg-blue-1 { background-color: #f0f5ff; }
.bg-blue-2 { background-color: #80aaff; }
.bg-blue-4 { background-color: #026; }
