/*! commoncolors.css v.1.0.0-alpha Build #190321 */
/*
  blue
*/
.c-blue { color: #05f; }
.c-blue-pale { color: #e5eeff; }
.c-blue-light { color: #80aaff; }
.c-blue-dark { color: #026; }
.bdc-blue { border-color: #05f; }
.bdc-blue-pale { border-color: #e5eeff; }
.bdc-blue-light { border-color: #80aaff; }
.bdc-blue-dark { border-color: #026; }
.bgc-blue { background-color: #05f; }
.bgc-blue-pale { background-color: #e5eeff; }
.bgc-blue-light { background-color: #80aaff; }
.bgc-blue-dark { background-color: #026; }
