/*
  BORDER COLORS

  Colors class basename :
    bd-black, bd-white, bd-gray, red, bd-orange,
    bd-yellow, bd-lime, bd-green, bd-teal, bd-cyan, bd-blue,
    bd-indigo, bd-violet, bd-fuchsia, bd-pink

  Modifiers : -pale, -light, -dark, -black,

  Ex : bd-gray-pale, bd-red, bd-pink-dark
*/
/* PALETTE CSS VARS V.1.1 */
.bd-black { border-color: #000; }
.bd-white { border-color: #fff; }
.bd-gray { border-color: #808080; }
.bd-gray-pale { border-color: #f2f2f2; }
.bd-gray-light { border-color: #ccc; }
.bd-gray-dark { border-color: #4d4d4d; }
.bd-gray-black { border-color: #262626; }
.bd-red { border-color: #f00; }
.bd-red-pale { border-color: #ffe5e5; }
.bd-red-light { border-color: #f99; }
.bd-red-dark { border-color: #900; }
.bd-red-black { border-color: #4d0000; }
.bd-orange { border-color: #ff8000; }
.bd-orange-pale { border-color: #fff2e5; }
.bd-orange-light { border-color: #fc9; }
.bd-orange-dark { border-color: #994c00; }
.bd-orange-black { border-color: #4d2600; }
.bd-yellow { border-color: #ff0; }
.bd-yellow-pale { border-color: #ffffe5; }
.bd-yellow-light { border-color: #ff9; }
.bd-yellow-dark { border-color: #990; }
.bd-yellow-black { border-color: #4c4d00; }
.bd-lime { border-color: #80ff00; }
.bd-lime-pale { border-color: #f2ffe5; }
.bd-lime-light { border-color: #cf9; }
.bd-lime-dark { border-color: #4d9900; }
.bd-lime-black { border-color: #264d00; }
.bd-green { border-color: #0f0; }
.bd-green-pale { border-color: #e5ffe5; }
.bd-green-light { border-color: #9f9; }
.bd-green-dark { border-color: #090; }
.bd-green-black { border-color: #004d00; }
.bd-teal { border-color: #00ff80; }
.bd-teal-pale { border-color: #e5fff2; }
.bd-teal-light { border-color: #9fc; }
.bd-teal-dark { border-color: #00994d; }
.bd-teal-black { border-color: #004d26; }
.bd-cyan { border-color: #0ff; }
.bd-cyan-pale { border-color: #e5ffff; }
.bd-cyan-light { border-color: #9ff; }
.bd-cyan-dark { border-color: #099; }
.bd-cyan-black { border-color: #004c4d; }
.bd-blue { border-color: #007fff; }
.bd-blue-pale { border-color: #e5f2ff; }
.bd-blue-light { border-color: #9cf; }
.bd-blue-dark { border-color: #004c99; }
.bd-blue-black { border-color: #00264d; }
.bd-indigo { border-color: #00f; }
.bd-indigo-pale { border-color: #e5e5ff; }
.bd-indigo-light { border-color: #99f; }
.bd-indigo-dark { border-color: #009; }
.bd-indigo-black { border-color: #00004d; }
.bd-violet { border-color: #7f00ff; }
.bd-violet-pale { border-color: #f2e5ff; }
.bd-violet-light { border-color: #c9f; }
.bd-violet-dark { border-color: #4c0099; }
.bd-violet-black { border-color: #26004d; }
.bd-fuchsia { border-color: #f0f; }
.bd-fuchsia-pale { border-color: #ffe5ff; }
.bd-fuchsia-light { border-color: #f9f; }
.bd-fuchsia-dark { border-color: #909; }
.bd-fuchsia-black { border-color: #4d004c; }
.bd-pink { border-color: #ff0080; }
.bd-pink-pale { border-color: #ffe5f2; }
.bd-pink-light { border-color: #f9c; }
.bd-pink-dark { border-color: #99004d; }
.bd-pink-black { border-color: #4d0026; }
