/*
  BORDER COLORS LITE

  Colors class basename :
    bd-black, bd-white, bd-gray, bd-red, bd-orange,
    bd-yellow, bd-lime, bd-green, bd-teal, bd-cyan, bd-blue,
    bd-indigo, bd-violet, bd-fuchsia, bd-pink

  Modifiers : -pale,  -dark

  Ex : bd-gray-pale, bd-red, bd-pink-dark
*/
/* PALETTE CSS VARS V.1.1 */
.bd-black { border-color: #000; }
.bd-white { border-color: #fff; }
.bd-gray { border-color: #808080; }
.bd-gray-pale { border-color: #f2f2f2; }
.bd-gray-dark { border-color: #4d4d4d; }
.bd-red { border-color: #f00; }
.bd-red-pale { border-color: #ffe5e5; }
.bd-red-dark { border-color: #900; }
.bd-orange { border-color: #ff8000; }
.bd-orange-pale { border-color: #fff2e5; }
.bd-orange-dark { border-color: #994c00; }
.bd-yellow { border-color: #ff0; }
.bd-yellow-pale { border-color: #ffffe5; }
.bd-yellow-dark { border-color: #990; }
.bd-lime { border-color: #80ff00; }
.bd-lime-pale { border-color: #f2ffe5; }
.bd-lime-dark { border-color: #4d9900; }
.bd-green { border-color: #0f0; }
.bd-green-pale { border-color: #e5ffe5; }
.bd-green-dark { border-color: #090; }
.bd-teal { border-color: #00ff80; }
.bd-teal-pale { border-color: #e5fff2; }
.bd-teal-dark { border-color: #00994d; }
.bd-cyan { border-color: #0ff; }
.bd-cyan-pale { border-color: #e5ffff; }
.bd-cyan-dark { border-color: #099; }
.bd-blue { border-color: #007fff; }
.bd-blue-pale { border-color: #e5f2ff; }
.bd-blue-dark { border-color: #004c99; }
.bd-indigo { border-color: #00f; }
.bd-indigo-pale { border-color: #e5e5ff; }
.bd-indigo-dark { border-color: #009; }
.bd-violet { border-color: #7f00ff; }
.bd-violet-pale { border-color: #f2e5ff; }
.bd-violet-dark { border-color: #4c0099; }
.bd-fuchsia { border-color: #f0f; }
.bd-fuchsia-pale { border-color: #ffe5ff; }
.bd-fuchsia-dark { border-color: #909; }
.bd-pink { border-color: #ff0080; }
.bd-pink-pale { border-color: #ffe5f2; }
.bd-pink-dark { border-color: #99004d; }
