/*
  COLORS

  Main colors classes :
    .black, .white, .gray, .red, .orange,
    .yellow, .green, .cyan, .blue, .violet, .fuchsia, .pink

   Brightness name modifiers :
   -pale, -light, -dark, -black

  Ex : gray-pale, red, pink-dark ...
*/
.black { color: #000; }
.white { color: #fff; }
.gray { color: #808080; }
.gray-pale { color: #f2f2f2; }
.gray-light { color: #ccc; }
.gray-dark { color: #4d4d4d; }
.gray-black { color: #262626; }
.red { color: #f00; }
.red-pale { color: #ffe5e5; }
.red-light { color: #f99; }
.red-dark { color: #900; }
.red-black { color: #4d0000; }
.orange { color: #ff8000; }
.orange-pale { color: #fff2e5; }
.orange-light { color: #fc9; }
.orange-dark { color: #994c00; }
.orange-black { color: #4d2600; }
.yellow { color: #ff0; }
.yellow-pale { color: #ffffe5; }
.yellow-light { color: #ff9; }
.yellow-dark { color: #990; }
.yellow-black { color: #4c4d00; }
.green { color: #0f0; }
.green-pale { color: #e5ffe5; }
.green-light { color: #9f9; }
.green-dark { color: #090; }
.green-black { color: #004d00; }
.cyan { color: #0ff; }
.cyan-pale { color: #e5ffff; }
.cyan-light { color: #9ff; }
.cyan-dark { color: #099; }
.cyan-black { color: #004c4d; }
.blue { color: #0040ff; }
.blue-pale { color: #e5ecff; }
.blue-light { color: #99b3ff; }
.blue-dark { color: #002699; }
.blue-black { color: #00134d; }
.violet { color: #7f00ff; }
.violet-pale { color: #f2e5ff; }
.violet-light { color: #c9f; }
.violet-dark { color: #4c0099; }
.violet-black { color: #26004d; }
.fuchsia { color: #f0f; }
.fuchsia-pale { color: #ffe5ff; }
.fuchsia-light { color: #f9f; }
.fuchsia-dark { color: #909; }
.fuchsia-black { color: #4d004c; }
.pink { color: #ff0080; }
.pink-pale { color: #ffe5f2; }
.pink-light { color: #f9c; }
.pink-dark { color: #99004d; }
.pink-black { color: #4d0026; }
