/*! commoncolors.css v.1.0.0-beta Build #190625 */
/* <https://juytter.github.io/commoncolors.css/> */
/*
  gray
*/
.black { color: #000; }
.white { color: #fff; }
.gray { color: #808080; }
.gray-p { color: #f7f7f7; }
.gray-l { color: #bfbfbf; }
.gray-d { color: #333; }
.border-black { border-color: #000; }
.border-white { border-color: #fff; }
.border-gray { border-color: #808080; }
.border-gray-p { border-color: #f7f7f7; }
.border-gray-l { border-color: #bfbfbf; }
.border-gray-d { border-color: #333; }
.bg-black { background-color: #000; }
.bg-white { background-color: #fff; }
.bg-gray { background-color: #808080; }
.bg-gray-p { background-color: #f7f7f7; }
.bg-gray-l { background-color: #bfbfbf; }
.bg-gray-d { background-color: #333; }
/*
  red
*/
.red { color: #f00; }
.red-p { color: #fff0f0; }
.red-l { color: #ff8080; }
.red-d { color: #600; }
.border-red { border-color: #f00; }
.border-red-p { border-color: #fff0f0; }
.border-red-l { border-color: #ff8080; }
.border-red-d { border-color: #600; }
.bg-red { background-color: #f00; }
.bg-red-p { background-color: #fff0f0; }
.bg-red-l { background-color: #ff8080; }
.bg-red-d { background-color: #600; }
/*
  orange
*/
.orange { color: #ff8000; }
.orange-p { color: #fff7f0; }
.orange-l { color: #ffbf80; }
.orange-d { color: #630; }
.border-orange { border-color: #ff8000; }
.border-orange-p { border-color: #fff7f0; }
.border-orange-l { border-color: #ffbf80; }
.border-orange-d { border-color: #630; }
.bg-orange { background-color: #ff8000; }
.bg-orange-p { background-color: #fff7f0; }
.bg-orange-l { background-color: #ffbf80; }
.bg-orange-d { background-color: #630; }
/*
  yellow
*/
.yellow { color: #ff0; }
.yellow-p { color: #fffff0; }
.yellow-l { color: #ffff80; }
.yellow-d { color: #660; }
.border-yellow { border-color: #ff0; }
.border-yellow-p { border-color: #fffff0; }
.border-yellow-l { border-color: #ffff80; }
.border-yellow-d { border-color: #660; }
.bg-yellow { background-color: #ff0; }
.bg-yellow-p { background-color: #fffff0; }
.bg-yellow-l { background-color: #ffff80; }
.bg-yellow-d { background-color: #660; }
/*
  green
*/
.green { color: #0f0; }
.green-p { color: #f0fff0; }
.green-l { color: #80ff80; }
.green-d { color: #060; }
.border-green { border-color: #0f0; }
.border-green-p { border-color: #f0fff0; }
.border-green-l { border-color: #80ff80; }
.border-green-d { border-color: #060; }
.bg-green { background-color: #0f0; }
.bg-green-p { background-color: #f0fff0; }
.bg-green-l { background-color: #80ff80; }
.bg-green-d { background-color: #060; }
/*
  cyan
*/
.cyan { color: #0ff; }
.cyan-p { color: #f0ffff; }
.cyan-l { color: #80ffff; }
.cyan-d { color: #066; }
.border-cyan { border-color: #0ff; }
.border-cyan-p { border-color: #f0ffff; }
.border-cyan-l { border-color: #80ffff; }
.border-cyan-d { border-color: #066; }
.bg-cyan { background-color: #0ff; }
.bg-cyan-p { background-color: #f0ffff; }
.bg-cyan-l { background-color: #80ffff; }
.bg-cyan-d { background-color: #066; }
/*
  blue
*/
.blue { color: #05f; }
.blue-p { color: #f0f5ff; }
.blue-l { color: #80aaff; }
.blue-d { color: #026; }
.border-blue { border-color: #05f; }
.border-blue-p { border-color: #f0f5ff; }
.border-blue-l { border-color: #80aaff; }
.border-blue-d { border-color: #026; }
.bg-blue { background-color: #05f; }
.bg-blue-p { background-color: #f0f5ff; }
.bg-blue-l { background-color: #80aaff; }
.bg-blue-d { background-color: #026; }
/*
  violet
*/
.violet { color: #7f00ff; }
.violet-p { color: #f7f0ff; }
.violet-l { color: #bf80ff; }
.violet-d { color: #306; }
.border-violet { border-color: #7f00ff; }
.border-violet-p { border-color: #f7f0ff; }
.border-violet-l { border-color: #bf80ff; }
.border-violet-d { border-color: #306; }
.bg-violet { background-color: #7f00ff; }
.bg-violet-p { background-color: #f7f0ff; }
.bg-violet-l { background-color: #bf80ff; }
.bg-violet-d { background-color: #306; }
/*
  magenta
*/
.magenta { color: #f0f; }
.magenta-p { color: #fff0ff; }
.magenta-l { color: #ff80ff; }
.magenta-d { color: #606; }
.border-magenta { border-color: #f0f; }
.border-magenta-p { border-color: #fff0ff; }
.border-magenta-l { border-color: #ff80ff; }
.border-magenta-d { border-color: #606; }
.bg-magenta { background-color: #f0f; }
.bg-magenta-p { background-color: #fff0ff; }
.bg-magenta-l { background-color: #ff80ff; }
.bg-magenta-d { background-color: #606; }
/*
  pink
*/
.pink { color: #ff0080; }
.pink-p { color: #fff0f7; }
.pink-l { color: #ff80bf; }
.pink-d { color: #603; }
.border-pink { border-color: #ff0080; }
.border-pink-p { border-color: #fff0f7; }
.border-pink-l { border-color: #ff80bf; }
.border-pink-d { border-color: #603; }
.bg-pink { background-color: #ff0080; }
.bg-pink-p { background-color: #fff0f7; }
.bg-pink-l { background-color: #ff80bf; }
.bg-pink-d { background-color: #603; }
