/*! commoncolors.css v.1.0.0-alpha-3 Build #190327 */
/*  Low-level css Library <https://juytter.github.io/common-colors> */
/*
  black
*/
.c-black { color: #000; }
.bdc-black { border-color: #000; }
.bgc-black { background-color: #000; }
/*
  white
*/
.c-white { color: #fff; }
.bdc-white { border-color: #fff; }
.bgc-white { background-color: #fff; }
/*
  gray
*/
.c-gray { color: #808080; }
.c-gray-pale { color: #f2f2f2; }
.c-gray-light { color: #b8b8b8; }
.c-gray-dark { color: #333; }
.bdc-gray { border-color: #808080; }
.bdc-gray-pale { border-color: #f2f2f2; }
.bdc-gray-light { border-color: #b8b8b8; }
.bdc-gray-dark { border-color: #333; }
.bgc-gray { background-color: #808080; }
.bgc-gray-pale { background-color: #f2f2f2; }
.bgc-gray-light { background-color: #b8b8b8; }
.bgc-gray-dark { background-color: #333; }
/*
  red
*/
.c-red { color: #f00; }
.c-red-pale { color: #ffe5e5; }
.c-red-light { color: #ff7070; }
.c-red-dark { color: #600; }
.bdc-red { border-color: #f00; }
.bdc-red-pale { border-color: #ffe5e5; }
.bdc-red-light { border-color: #ff7070; }
.bdc-red-dark { border-color: #600; }
.bgc-red { background-color: #f00; }
.bgc-red-pale { background-color: #ffe5e5; }
.bgc-red-light { background-color: #ff7070; }
.bgc-red-dark { background-color: #600; }
/*
  orange
*/
.c-orange { color: #ff8000; }
.c-orange-pale { color: #fff2e5; }
.c-orange-light { color: #ffb870; }
.c-orange-dark { color: #630; }
.bdc-orange { border-color: #ff8000; }
.bdc-orange-pale { border-color: #fff2e5; }
.bdc-orange-light { border-color: #ffb870; }
.bdc-orange-dark { border-color: #630; }
.bgc-orange { background-color: #ff8000; }
.bgc-orange-pale { background-color: #fff2e5; }
.bgc-orange-light { background-color: #ffb870; }
.bgc-orange-dark { background-color: #630; }
/*
  yellow
*/
.c-yellow { color: #ff0; }
.c-yellow-pale { color: #ffffe5; }
.c-yellow-light { color: #ffff70; }
.c-yellow-dark { color: #660; }
.bdc-yellow { border-color: #ff0; }
.bdc-yellow-pale { border-color: #ffffe5; }
.bdc-yellow-light { border-color: #ffff70; }
.bdc-yellow-dark { border-color: #660; }
.bgc-yellow { background-color: #ff0; }
.bgc-yellow-pale { background-color: #ffffe5; }
.bgc-yellow-light { background-color: #ffff70; }
.bgc-yellow-dark { background-color: #660; }
/*
  green
*/
.c-green { color: #0f0; }
.c-green-pale { color: #e5ffe5; }
.c-green-light { color: #70ff70; }
.c-green-dark { color: #060; }
.bdc-green { border-color: #0f0; }
.bdc-green-pale { border-color: #e5ffe5; }
.bdc-green-light { border-color: #70ff70; }
.bdc-green-dark { border-color: #060; }
.bgc-green { background-color: #0f0; }
.bgc-green-pale { background-color: #e5ffe5; }
.bgc-green-light { background-color: #70ff70; }
.bgc-green-dark { background-color: #060; }
/*
  cyan
*/
.c-cyan { color: #0ff; }
.c-cyan-pale { color: #e5ffff; }
.c-cyan-light { color: #70ffff; }
.c-cyan-dark { color: #066; }
.bdc-cyan { border-color: #0ff; }
.bdc-cyan-pale { border-color: #e5ffff; }
.bdc-cyan-light { border-color: #70ffff; }
.bdc-cyan-dark { border-color: #066; }
.bgc-cyan { background-color: #0ff; }
.bgc-cyan-pale { background-color: #e5ffff; }
.bgc-cyan-light { background-color: #70ffff; }
.bgc-cyan-dark { background-color: #066; }
/*
  blue
*/
.c-blue { color: #05f; }
.c-blue-pale { color: #e5eeff; }
.c-blue-light { color: #70a0ff; }
.c-blue-dark { color: #026; }
.bdc-blue { border-color: #05f; }
.bdc-blue-pale { border-color: #e5eeff; }
.bdc-blue-light { border-color: #70a0ff; }
.bdc-blue-dark { border-color: #026; }
.bgc-blue { background-color: #05f; }
.bgc-blue-pale { background-color: #e5eeff; }
.bgc-blue-light { background-color: #70a0ff; }
.bgc-blue-dark { background-color: #026; }
/*
  violet
*/
.c-violet { color: #7f00ff; }
.c-violet-pale { color: #f2e5ff; }
.c-violet-light { color: #b870ff; }
.c-violet-dark { color: #306; }
.bdc-violet { border-color: #7f00ff; }
.bdc-violet-pale { border-color: #f2e5ff; }
.bdc-violet-light { border-color: #b870ff; }
.bdc-violet-dark { border-color: #306; }
.bgc-violet { background-color: #7f00ff; }
.bgc-violet-pale { background-color: #f2e5ff; }
.bgc-violet-light { background-color: #b870ff; }
.bgc-violet-dark { background-color: #306; }
/*
  magenta
*/
.c-magenta { color: #f0f; }
.c-magenta-pale { color: #ffe5ff; }
.c-magenta-light { color: #ff70ff; }
.c-magenta-dark { color: #606; }
.bdc-magenta { border-color: #f0f; }
.bdc-magenta-pale { border-color: #ffe5ff; }
.bdc-magenta-light { border-color: #ff70ff; }
.bdc-magenta-dark { border-color: #606; }
.bgc-magenta { background-color: #f0f; }
.bgc-magenta-pale { background-color: #ffe5ff; }
.bgc-magenta-light { background-color: #ff70ff; }
.bgc-magenta-dark { background-color: #606; }
