/*

COMMON-COLORS CSS LIB  V.1.3
MIT License | https://github.com/juytter/common-colors-css

  Summary :
  pseudo-colors for
  1. color (.hv_colorName)
  2. background (.hv_bg-colorName)
  3. border (.hv_bd-colorName)

*/
/*
  PSEUDO COLORS
    color when hovered.
    Prefix  class name : hv_
    Ex : hv_bd-red, hv_red, hv_bg-red
*/
.hv_black:hover { color: #000; }
.hv_white:hover { color: #fff; }
.hv_gray:hover { color: #808080; }
.hv_gray-pale:hover { color: #f2f2f2; }
.hv_gray-light:hover { color: #ccc; }
.hv_gray-dark:hover { color: #4d4d4d; }
.hv_gray-black:hover { color: #262626; }
.hv_red:hover { color: #f00; }
.hv_red-pale:hover { color: #ffe5e5; }
.hv_red-light:hover { color: #f99; }
.hv_red-dark:hover { color: #900; }
.hv_red-black:hover { color: #4d0000; }
.hv_orange:hover { color: #ff8000; }
.hv_orange-pale:hover { color: #fff2e5; }
.hv_orange-light:hover { color: #fc9; }
.hv_orange-dark:hover { color: #994c00; }
.hv_orange-black:hover { color: #4d2600; }
.hv_yellow:hover { color: #ff0; }
.hv_yellow-pale:hover { color: #ffffe5; }
.hv_yellow-light:hover { color: #ff9; }
.hv_yellow-dark:hover { color: #990; }
.hv_yellow-black:hover { color: #4c4d00; }
.hv_green:hover { color: #0f0; }
.hv_green-pale:hover { color: #e5ffe5; }
.hv_green-light:hover { color: #9f9; }
.hv_green-dark:hover { color: #090; }
.hv_green-black:hover { color: #004d00; }
.hv_cyan:hover { color: #0ff; }
.hv_cyan-pale:hover { color: #e5ffff; }
.hv_cyan-light:hover { color: #9ff; }
.hv_cyan-dark:hover { color: #099; }
.hv_cyan-black:hover { color: #004c4d; }
.hv_blue:hover { color: #0040ff; }
.hv_blue-pale:hover { color: #e5ecff; }
.hv_blue-light:hover { color: #99b3ff; }
.hv_blue-dark:hover { color: #002699; }
.hv_blue-black:hover { color: #00134d; }
.hv_violet:hover { color: #7f00ff; }
.hv_violet-pale:hover { color: #f2e5ff; }
.hv_violet-light:hover { color: #c9f; }
.hv_violet-dark:hover { color: #4c0099; }
.hv_violet-black:hover { color: #26004d; }
.hv_fuchsia:hover { color: #f0f; }
.hv_fuchsia-pale:hover { color: #ffe5ff; }
.hv_fuchsia-light:hover { color: #f9f; }
.hv_fuchsia-dark:hover { color: #909; }
.hv_fuchsia-black:hover { color: #4d004c; }
.hv_pink:hover { color: #ff0080; }
.hv_pink-pale:hover { color: #ffe5f2; }
.hv_pink-light:hover { color: #f9c; }
.hv_pink-dark:hover { color: #99004d; }
.hv_pink-black:hover { color: #4d0026; }
/* Background hovers */
.hv_bg-black:hover { background-color: #000; }
.hv_bg-white:hover { background-color: #fff; }
.hv_bg-gray:hover { background-color: #808080; }
.hv_bg-gray-pale:hover { background-color: #f2f2f2; }
.hv_bg-gray-light:hover { background-color: #ccc; }
.hv_bg-gray-dark:hover { background-color: #4d4d4d; }
.hv_bg-gray-black:hover { background-color: #262626; }
.hv_bg-red:hover { background-color: #f00; }
.hv_bg-red-pale:hover { background-color: #ffe5e5; }
.hv_bg-red-light:hover { background-color: #f99; }
.hv_bg-red-dark:hover { background-color: #900; }
.hv_bg-red-black:hover { background-color: #4d0000; }
.hv_bg-orange:hover { background-color: #ff8000; }
.hv_bg-orange-pale:hover { background-color: #fff2e5; }
.hv_bg-orange-light:hover { background-color: #fc9; }
.hv_bg-orange-dark:hover { background-color: #994c00; }
.hv_bg-orange-black:hover { background-color: #4d2600; }
.hv_bg-yellow:hover { background-color: #ff0; }
.hv_bg-yellow-pale:hover { background-color: #ffffe5; }
.hv_bg-yellow-light:hover { background-color: #ff9; }
.hv_bg-yellow-dark:hover { background-color: #990; }
.hv_bg-yellow-black:hover { background-color: #4c4d00; }
.hv_bg-green:hover { background-color: #0f0; }
.hv_bg-green-pale:hover { background-color: #e5ffe5; }
.hv_bg-green-light:hover { background-color: #9f9; }
.hv_bg-green-dark:hover { background-color: #090; }
.hv_bg-green-black:hover { background-color: #004d00; }
.hv_bg-cyan:hover { background-color: #0ff; }
.hv_bg-cyan-pale:hover { background-color: #e5ffff; }
.hv_bg-cyan-light:hover { background-color: #9ff; }
.hv_bg-cyan-dark:hover { background-color: #099; }
.hv_bg-cyan-black:hover { background-color: #004c4d; }
.hv_bg-blue:hover { background-color: #0040ff; }
.hv_bg-blue-pale:hover { background-color: #e5ecff; }
.hv_bg-blue-light:hover { background-color: #99b3ff; }
.hv_bg-blue-dark:hover { background-color: #002699; }
.hv_bg-blue-black:hover { background-color: #00134d; }
.hv_bg-violet:hover { background-color: #7f00ff; }
.hv_bg-violet-pale:hover { background-color: #f2e5ff; }
.hv_bg-violet-light:hover { background-color: #c9f; }
.hv_bg-violet-dark:hover { background-color: #4c0099; }
.hv_bg-violet-black:hover { background-color: #26004d; }
.hv_bg-fuchsia:hover { background-color: #f0f; }
.hv_bg-fuchsia-pale:hover { background-color: #ffe5ff; }
.hv_bg-fuchsia-light:hover { background-color: #f9f; }
.hv_bg-fuchsia-dark:hover { background-color: #909; }
.hv_bg-fuchsia-black:hover { background-color: #4d004c; }
.hv_bg-pink:hover { background-color: #ff0080; }
.hv_bg-pink-pale:hover { background-color: #ffe5f2; }
.hv_bg-pink-light:hover { background-color: #f9c; }
.hv_bg-pink-dark:hover { background-color: #99004d; }
.hv_bg-pink-black:hover { background-color: #4d0026; }
/* Border hovers */
.hv_bd-black:hover { border-color: #000; }
.hv_bd-white:hover { border-color: #fff; }
.hv_bd-gray:hover { border-color: #808080; }
.hv_bd-gray-pale:hover { border-color: #f2f2f2; }
.hv_bd-gray-light:hover { border-color: #ccc; }
.hv_bd-gray-dark:hover { border-color: #4d4d4d; }
.hv_bd-gray-black:hover { border-color: #262626; }
.hv_bd-red:hover { border-color: #f00; }
.hv_bd-red-pale:hover { border-color: #ffe5e5; }
.hv_bd-red-light:hover { border-color: #f99; }
.hv_bd-red-dark:hover { border-color: #900; }
.hv_bd-red-black:hover { border-color: #4d0000; }
.hv_bd-orange:hover { border-color: #ff8000; }
.hv_bd-orange-pale:hover { border-color: #fff2e5; }
.hv_bd-orange-light:hover { border-color: #fc9; }
.hv_bd-orange-dark:hover { border-color: #994c00; }
.hv_bd-orange-black:hover { border-color: #4d2600; }
.hv_bd-yellow:hover { border-color: #ff0; }
.hv_bd-yellow-pale:hover { border-color: #ffffe5; }
.hv_bd-yellow-light:hover { border-color: #ff9; }
.hv_bd-yellow-dark:hover { border-color: #990; }
.hv_bd-yellow-black:hover { border-color: #4c4d00; }
.hv_bd-green:hover { border-color: #0f0; }
.hv_bd-green-pale:hover { border-color: #e5ffe5; }
.hv_bd-green-light:hover { border-color: #9f9; }
.hv_bd-green-dark:hover { border-color: #090; }
.hv_bd-green-black:hover { border-color: #004d00; }
.hv_bd-cyan:hover { border-color: #0ff; }
.hv_bd-cyan-pale:hover { border-color: #e5ffff; }
.hv_bd-cyan-light:hover { border-color: #9ff; }
.hv_bd-cyan-dark:hover { border-color: #099; }
.hv_bd-cyan-black:hover { border-color: #004c4d; }
.hv_bd-blue:hover { border-color: #0040ff; }
.hv_bd-blue-pale:hover { border-color: #e5ecff; }
.hv_bd-blue-light:hover { border-color: #99b3ff; }
.hv_bd-blue-dark:hover { border-color: #002699; }
.hv_bd-blue-black:hover { border-color: #00134d; }
.hv_bd-violet:hover { border-color: #7f00ff; }
.hv_bd-violet-pale:hover { border-color: #f2e5ff; }
.hv_bd-violet-light:hover { border-color: #c9f; }
.hv_bd-violet-dark:hover { border-color: #4c0099; }
.hv_bd-violet-black:hover { border-color: #26004d; }
.hv_bd-fuchsia:hover { border-color: #f0f; }
.hv_bd-fuchsia-pale:hover { border-color: #ffe5ff; }
.hv_bd-fuchsia-light:hover { border-color: #f9f; }
.hv_bd-fuchsia-dark:hover { border-color: #909; }
.hv_bd-fuchsia-black:hover { border-color: #4d004c; }
.hv_bd-pink:hover { border-color: #ff0080; }
.hv_bd-pink-pale:hover { border-color: #ffe5f2; }
.hv_bd-pink-light:hover { border-color: #f9c; }
.hv_bd-pink-dark:hover { border-color: #99004d; }
.hv_bd-pink-black:hover { border-color: #4d0026; }
