/*! commoncolors.css v.1.0.0 Build #191115 */

:root {
    --black: #000;
    --white: #fff;
    --gray-1: #f7f7f7;
    --gray-2: #bfbfbf;
    --gray: #808080;
    --gray-3: #808080;
    --gray-4: #333;
    --red-1: #fff0f0;
    --red-2: #ff8080;
    --red: #f00;
    --red-3: #f00;
    --red-4: #600;
    --orange-1: #fff7f0;
    --orange-2: #ffbf80;
    --orange: #ff8000;
    --orange-3: #ff8000;
    --orange-4: #630;
    --yellow-1: #fffff0;
    --yellow-2: #ffff80;
    --yellow: #ff0;
    --yellow-3: #ff0;
    --yellow-4: #660;
    --green-1: #f0fff0;
    --green-2: #80ff80;
    --green: #0f0;
    --green-3: #0f0;
    --green-4: #060;
    --cyan-1: #f0ffff;
    --cyan-2: #80ffff;
    --cyan: #0ff;
    --cyan-3: #0ff;
    --cyan-4: #066;
    --blue-1: #f0f5ff;
    --blue-2: #80aaff;
    --blue: #05f;
    --blue-3: #05f;
    --blue-4: #026;
    --violet-1: #f7f0ff;
    --violet-2: #bf80ff;
    --violet: #7f00ff;
    --violet-3: #7f00ff;
    --violet-4: #306;
    --magenta-1: #fff0ff;
    --magenta-2: #ff80ff;
    --magenta: #f0f;
    --magenta-3: #f0f;
    --magenta-4: #606;
    --pink-1: #fff0f7;
    --pink-2: #ff80bf;
    --pink: #ff0080;
    --pink-3: #ff0080;
    --pink-4: #603;
}
