/*! commoncolors.css v.1.0.0-alpha-4 Build #190408 */
/*  Low-level css color Library <https://juytter.github.io/common-colors> */
/*
  black
*/
.c\(black\) { color: #000; }
.bd-c\(black\) { border-color: #000; }
.bg-c\(black\) { background-color: #000; }
/*
  white
*/
.c\(white\) { color: #fff; }
.bd-c\(white\) { border-color: #fff; }
.bg-c\(white\) { background-color: #fff; }
/*
  gray
*/
.c\(gray\) { color: #808080; }
.c\(gray-pale\) { color: #f2f2f2; }
.c\(gray-light\) { color: #b8b8b8; }
.c\(gray-dark\) { color: #333; }
.bd-c\(gray\) { border-color: #808080; }
.bd-c\(gray-pale\) { border-color: #f2f2f2; }
.bd-c\(gray-light\) { border-color: #b8b8b8; }
.bd-c\(gray-dark\) { border-color: #333; }
.bg-c\(gray\) { background-color: #808080; }
.bg-c\(gray-pale\) { background-color: #f2f2f2; }
.bg-c\(gray-light\) { background-color: #b8b8b8; }
.bg-c\(gray-dark\) { background-color: #333; }
/*
  red
*/
.c\(red\) { color: #f00; }
.c\(red-pale\) { color: #ffe5e5; }
.c\(red-light\) { color: #ff7070; }
.c\(red-dark\) { color: #600; }
.bd-c\(red\) { border-color: #f00; }
.bd-c\(red-pale\) { border-color: #ffe5e5; }
.bd-c\(red-light\) { border-color: #ff7070; }
.bd-c\(red-dark\) { border-color: #600; }
.bg-c\(red\) { background-color: #f00; }
.bg-c\(red-pale\) { background-color: #ffe5e5; }
.bg-c\(red-light\) { background-color: #ff7070; }
.bg-c\(red-dark\) { background-color: #600; }
/*
  orange
*/
.c\(orange\) { color: #ff8000; }
.c\(orange-pale\) { color: #fff2e5; }
.c\(orange-light\) { color: #ffb870; }
.c\(orange-dark\) { color: #630; }
.bd-c\(orange\) { border-color: #ff8000; }
.bd-c\(orange-pale\) { border-color: #fff2e5; }
.bd-c\(orange-light\) { border-color: #ffb870; }
.bd-c\(orange-dark\) { border-color: #630; }
.bg-c\(orange\) { background-color: #ff8000; }
.bg-c\(orange-pale\) { background-color: #fff2e5; }
.bg-c\(orange-light\) { background-color: #ffb870; }
.bg-c\(orange-dark\) { background-color: #630; }
/*
  yellow
*/
.c\(yellow\) { color: #ff0; }
.c\(yellow-pale\) { color: #ffffe5; }
.c\(yellow-light\) { color: #ffff70; }
.c\(yellow-dark\) { color: #660; }
.bd-c\(yellow\) { border-color: #ff0; }
.bd-c\(yellow-pale\) { border-color: #ffffe5; }
.bd-c\(yellow-light\) { border-color: #ffff70; }
.bd-c\(yellow-dark\) { border-color: #660; }
.bg-c\(yellow\) { background-color: #ff0; }
.bg-c\(yellow-pale\) { background-color: #ffffe5; }
.bg-c\(yellow-light\) { background-color: #ffff70; }
.bg-c\(yellow-dark\) { background-color: #660; }
/*
  green
*/
.c\(green\) { color: #0f0; }
.c\(green-pale\) { color: #e5ffe5; }
.c\(green-light\) { color: #70ff70; }
.c\(green-dark\) { color: #060; }
.bd-c\(green\) { border-color: #0f0; }
.bd-c\(green-pale\) { border-color: #e5ffe5; }
.bd-c\(green-light\) { border-color: #70ff70; }
.bd-c\(green-dark\) { border-color: #060; }
.bg-c\(green\) { background-color: #0f0; }
.bg-c\(green-pale\) { background-color: #e5ffe5; }
.bg-c\(green-light\) { background-color: #70ff70; }
.bg-c\(green-dark\) { background-color: #060; }
/*
  cyan
*/
.c\(cyan\) { color: #0ff; }
.c\(cyan-pale\) { color: #e5ffff; }
.c\(cyan-light\) { color: #70ffff; }
.c\(cyan-dark\) { color: #066; }
.bd-c\(cyan\) { border-color: #0ff; }
.bd-c\(cyan-pale\) { border-color: #e5ffff; }
.bd-c\(cyan-light\) { border-color: #70ffff; }
.bd-c\(cyan-dark\) { border-color: #066; }
.bg-c\(cyan\) { background-color: #0ff; }
.bg-c\(cyan-pale\) { background-color: #e5ffff; }
.bg-c\(cyan-light\) { background-color: #70ffff; }
.bg-c\(cyan-dark\) { background-color: #066; }
/*
  blue
*/
.c\(blue\) { color: #05f; }
.c\(blue-pale\) { color: #e5eeff; }
.c\(blue-light\) { color: #70a0ff; }
.c\(blue-dark\) { color: #026; }
.bd-c\(blue\) { border-color: #05f; }
.bd-c\(blue-pale\) { border-color: #e5eeff; }
.bd-c\(blue-light\) { border-color: #70a0ff; }
.bd-c\(blue-dark\) { border-color: #026; }
.bg-c\(blue\) { background-color: #05f; }
.bg-c\(blue-pale\) { background-color: #e5eeff; }
.bg-c\(blue-light\) { background-color: #70a0ff; }
.bg-c\(blue-dark\) { background-color: #026; }
/*
  violet
*/
.c\(violet\) { color: #7f00ff; }
.c\(violet-pale\) { color: #f2e5ff; }
.c\(violet-light\) { color: #b870ff; }
.c\(violet-dark\) { color: #306; }
.bd-c\(violet\) { border-color: #7f00ff; }
.bd-c\(violet-pale\) { border-color: #f2e5ff; }
.bd-c\(violet-light\) { border-color: #b870ff; }
.bd-c\(violet-dark\) { border-color: #306; }
.bg-c\(violet\) { background-color: #7f00ff; }
.bg-c\(violet-pale\) { background-color: #f2e5ff; }
.bg-c\(violet-light\) { background-color: #b870ff; }
.bg-c\(violet-dark\) { background-color: #306; }
/*
  magenta
*/
.c\(magenta\) { color: #f0f; }
.c\(magenta-pale\) { color: #ffe5ff; }
.c\(magenta-light\) { color: #ff70ff; }
.c\(magenta-dark\) { color: #606; }
.bd-c\(magenta\) { border-color: #f0f; }
.bd-c\(magenta-pale\) { border-color: #ffe5ff; }
.bd-c\(magenta-light\) { border-color: #ff70ff; }
.bd-c\(magenta-dark\) { border-color: #606; }
.bg-c\(magenta\) { background-color: #f0f; }
.bg-c\(magenta-pale\) { background-color: #ffe5ff; }
.bg-c\(magenta-light\) { background-color: #ff70ff; }
.bg-c\(magenta-dark\) { background-color: #606; }
/*
  pink
*/
.c\(pink\) { color: #ff0080; }
.c\(pink-pale\) { color: #ffe5f2; }
.c\(pink-light\) { color: #ff70b8; }
.c\(pink-dark\) { color: #603; }
.bd-c\(pink\) { border-color: #ff0080; }
.bd-c\(pink-pale\) { border-color: #ffe5f2; }
.bd-c\(pink-light\) { border-color: #ff70b8; }
.bd-c\(pink-dark\) { border-color: #603; }
.bg-c\(pink\) { background-color: #ff0080; }
.bg-c\(pink-pale\) { background-color: #ffe5f2; }
.bg-c\(pink-light\) { background-color: #ff70b8; }
.bg-c\(pink-dark\) { background-color: #603; }
