/*! commoncolors.css v.1.0.0-beta Build #190625 */

:root {
    --black: #000;
    --white: #fff;
    --gray-p: #f7f7f7;
    --gray-l: #bfbfbf;
    --gray: #808080;
    --gray-d: #333;
    --red-p: #fff0f0;
    --red-l: #ff8080;
    --red: #f00;
    --red-d: #600;
    --orange-p: #fff7f0;
    --orange-l: #ffbf80;
    --orange: #ff8000;
    --orange-d: #630;
    --yellow-p: #fffff0;
    --yellow-l: #ffff80;
    --yellow: #ff0;
    --yellow-d: #660;
    --green-p: #f0fff0;
    --green-l: #80ff80;
    --green: #0f0;
    --green-d: #060;
    --cyan-p: #f0ffff;
    --cyan-l: #80ffff;
    --cyan: #0ff;
    --cyan-d: #066;
    --blue-p: #f0f5ff;
    --blue-l: #80aaff;
    --blue: #05f;
    --blue-d: #026;
    --violet-p: #f7f0ff;
    --violet-l: #bf80ff;
    --violet: #7f00ff;
    --violet-d: #306;
    --magenta-p: #fff0ff;
    --magenta-l: #ff80ff;
    --magenta: #f0f;
    --magenta-d: #606;
    --pink-p: #fff0f7;
    --pink-l: #ff80bf;
    --pink: #ff0080;
    --pink-d: #603;
}
