/*! commoncolors.css v.1.0.0-alpha-5 Build #190409 */
/*
  cyan
*/
.c\(cyan\) { color: #0ff; }
.c\(cyan-pale\) { color: #e5ffff; }
.c\(cyan-light\) { color: #70ffff; }
.c\(cyan-dark\) { color: #066; }
.bd-c\(cyan\) { border-color: #0ff; }
.bd-c\(cyan-pale\) { border-color: #e5ffff; }
.bd-c\(cyan-light\) { border-color: #70ffff; }
.bd-c\(cyan-dark\) { border-color: #066; }
.bg-c\(cyan\) { background-color: #0ff; }
.bg-c\(cyan-pale\) { background-color: #e5ffff; }
.bg-c\(cyan-light\) { background-color: #70ffff; }
.bg-c\(cyan-dark\) { background-color: #066; }
