/*! commoncolors.css v.1.0.0-alpha-7 Build #190621 */
/*
  cyan
*/
.cyan { color: #0ff; }
.cyan-p { color: #f0ffff; }
.cyan-l { color: #80ffff; }
.cyan-d { color: #066; }
.border-cyan { border-color: #0ff; }
.border-cyan-p { border-color: #f0ffff; }
.border-cyan-l { border-color: #80ffff; }
.border-cyan-d { border-color: #066; }
.bg-cyan { background-color: #0ff; }
.bg-cyan-p { background-color: #f0ffff; }
.bg-cyan-l { background-color: #80ffff; }
.bg-cyan-d { background-color: #066; }
