/*! commoncolors.css v.1.0.0-alpha-4 Build #190401 */
/*
  cyan
*/
.c-cyan { color: #0ff; }
.c-cyan-pale { color: #e5ffff; }
.c-cyan-light { color: #70ffff; }
.c-cyan-dark { color: #066; }
.bdc-cyan { border-color: #0ff; }
.bdc-cyan-pale { border-color: #e5ffff; }
.bdc-cyan-light { border-color: #70ffff; }
.bdc-cyan-dark { border-color: #066; }
.bgc-cyan { background-color: #0ff; }
.bgc-cyan-pale { background-color: #e5ffff; }
.bgc-cyan-light { background-color: #70ffff; }
.bgc-cyan-dark { background-color: #066; }
