/*! commoncolors.css v.1.0.0-alpha-7 Build #190621 */
/*
  gray
*/
.gray { color: #808080; }
.gray-p { color: #f7f7f7; }
.gray-l { color: #bfbfbf; }
.gray-d { color: #333; }
.border-gray { border-color: #808080; }
.border-gray-p { border-color: #f7f7f7; }
.border-gray-l { border-color: #bfbfbf; }
.border-gray-d { border-color: #333; }
.bg-gray { background-color: #808080; }
.bg-gray-p { background-color: #f7f7f7; }
.bg-gray-l { background-color: #bfbfbf; }
.bg-gray-d { background-color: #333; }
