/*! commoncolors.css v.1.0.0-alpha-3 Build #190327 */
/*
  gray
*/
.c-gray { color: #808080; }
.c-gray-pale { color: #f2f2f2; }
.c-gray-light { color: #bfbfbf; }
.c-gray-dark { color: #333; }
.bdc-gray { border-color: #808080; }
.bdc-gray-pale { border-color: #f2f2f2; }
.bdc-gray-light { border-color: #bfbfbf; }
.bdc-gray-dark { border-color: #333; }
.bgc-gray { background-color: #808080; }
.bgc-gray-pale { background-color: #f2f2f2; }
.bgc-gray-light { background-color: #bfbfbf; }
.bgc-gray-dark { background-color: #333; }
