/*! commoncolors.css v.1.0.0-alpha Build #190321 */
/*
  green
*/
.c-green { color: #0f0; }
.c-green-pale { color: #e5ffe5; }
.c-green-light { color: #80ff80; }
.c-green-dark { color: #060; }
.bdc-green { border-color: #0f0; }
.bdc-green-pale { border-color: #e5ffe5; }
.bdc-green-light { border-color: #80ff80; }
.bdc-green-dark { border-color: #060; }
.bgc-green { background-color: #0f0; }
.bgc-green-pale { background-color: #e5ffe5; }
.bgc-green-light { background-color: #80ff80; }
.bgc-green-dark { background-color: #060; }
