/*! commoncolors.css v.1.0.0-alpha Build #190320 */
/*
  magenta
*/
.c-magenta { color: #f0f; }
.c-magenta-pale { color: #ffe5ff; }
.c-magenta-light { color: #ff80ff; }
.c-magenta-dark { color: #606; }
.bdc-magenta { border-color: #f0f; }
.bdc-magenta-pale { border-color: #ffe5ff; }
.bdc-magenta-light { border-color: #ff80ff; }
.bdc-magenta-dark { border-color: #606; }
.bgc-magenta { background-color: #f0f; }
.bgc-magenta-pale { background-color: #ffe5ff; }
.bgc-magenta-light { background-color: #ff80ff; }
.bgc-magenta-dark { background-color: #606; }
