/*! commoncolors.css v.1.0.0-beta Build #190625 */
/*
  magenta
*/
.magenta { color: #f0f; }
.magenta-p { color: #fff0ff; }
.magenta-l { color: #ff80ff; }
.magenta-d { color: #606; }
.border-magenta { border-color: #f0f; }
.border-magenta-p { border-color: #fff0ff; }
.border-magenta-l { border-color: #ff80ff; }
.border-magenta-d { border-color: #606; }
.bg-magenta { background-color: #f0f; }
.bg-magenta-p { background-color: #fff0ff; }
.bg-magenta-l { background-color: #ff80ff; }
.bg-magenta-d { background-color: #606; }
