/*! commoncolors.css v.1.0.0-alpha-4 Build #190408 */
/*
  magenta
*/
.c\(magenta\) { color: #f0f; }
.c\(magenta-pale\) { color: #ffe5ff; }
.c\(magenta-light\) { color: #ff70ff; }
.c\(magenta-dark\) { color: #606; }
.bd-c\(magenta\) { border-color: #f0f; }
.bd-c\(magenta-pale\) { border-color: #ffe5ff; }
.bd-c\(magenta-light\) { border-color: #ff70ff; }
.bd-c\(magenta-dark\) { border-color: #606; }
.bg-c\(magenta\) { background-color: #f0f; }
.bg-c\(magenta-pale\) { background-color: #ffe5ff; }
.bg-c\(magenta-light\) { background-color: #ff70ff; }
.bg-c\(magenta-dark\) { background-color: #606; }
