/*! commoncolors.css v.1.0.0-alpha-7 Build #190621 */
/*
  orange
*/
.orange { color: #ff8000; }
.orange-p { color: #fff7f0; }
.orange-l { color: #ffbf80; }
.orange-d { color: #630; }
.border-orange { border-color: #ff8000; }
.border-orange-p { border-color: #fff7f0; }
.border-orange-l { border-color: #ffbf80; }
.border-orange-d { border-color: #630; }
.bg-orange { background-color: #ff8000; }
.bg-orange-p { background-color: #fff7f0; }
.bg-orange-l { background-color: #ffbf80; }
.bg-orange-d { background-color: #630; }
