:root {
    --black: #000;
    --white: #fff;
    --gray-pale: #f2f2f2;
    --gray-light: #b3b3b3;
    --gray: #808080;
    --gray-dark: #4d4d4d;
    --gray-black: #1a1a1a;
    --red-pale: #ffe5e5;
    --red-light: #f66;
    --red: #f00;
    --red-dark: #900;
    --red-black: #300;
    --orange-pale: #fff2e5;
    --orange-light: #ffb366;
    --orange: #ff8000;
    --orange-dark: #994c00;
    --orange-black: #331a00;
    --yellow-pale: #ffffe5;
    --yellow-light: #ff6;
    --yellow: #ff0;
    --yellow-dark: #990;
    --yellow-black: #330;
    --lime-pale: #f2ffe5;
    --lime-light: #b3ff66;
    --lime: #80ff00;
    --lime-dark: #4d9900;
    --lime-black: #1a3300;
    --green-pale: #e5ffe5;
    --green-light: #6f6;
    --green: #0f0;
    --green-dark: #090;
    --green-black: #030;
    --teal-pale: #e5fff2;
    --teal-light: #66ffb3;
    --teal: #00ff80;
    --teal-dark: #00994d;
    --teal-black: #00331a;
    --cyan-pale: #e5ffff;
    --cyan-light: #6ff;
    --cyan: #0ff;
    --cyan-dark: #099;
    --cyan-black: #033;
    --blue-pale: #e5f2ff;
    --blue-light: #66b2ff;
    --blue: #007fff;
    --blue-dark: #004c99;
    --blue-black: #001933;
    --indigo-pale: #e5e5ff;
    --indigo-light: #66f;
    --indigo: #00f;
    --indigo-dark: #009;
    --indigo-black: #003;
    --violet-pale: #f2e5ff;
    --violet-light: #b266ff;
    --violet: #7f00ff;
    --violet-dark: #4c0099;
    --violet-black: #190033;
    --fuchsia-pale: #ffe5ff;
    --fuchsia-light: #f6f;
    --fuchsia: #f0f;
    --fuchsia-dark: #909;
    --fuchsia-black: #303;
    --pink-pale: #ffe5f2;
    --pink-light: #ff66b3;
    --pink: #ff0080;
    --pink-dark: #99004d;
    --pink-black: #33001a;
}
