/*! commoncolors.css v.1.0.0 Build #191115 */
/*
  pink
*/
.pink, .pink-3 { color: #ff0080; }
.pink-1 { color: #fff0f7; }
.pink-2 { color: #ff80bf; }
.pink-4 { color: #603; }
.bd-pink, .bd-pink-3 { border-color: #ff0080; }
.bd-pink-1 { border-color: #fff0f7; }
.bd-pink-2 { border-color: #ff80bf; }
.bd-pink-4 { border-color: #603; }
.bg-pink, .bg-pink-3 { background-color: #ff0080; }
.bg-pink-1 { background-color: #fff0f7; }
.bg-pink-2 { background-color: #ff80bf; }
.bg-pink-4 { background-color: #603; }
