/*! commoncolors.css v.1.0.0-alpha-2 Build #190322 */
/*
  purple
*/
.c-purple { color: #7f00ff; }
.c-purple-pale { color: #f2e5ff; }
.c-purple-light { color: #bf80ff; }
.c-purple-dark { color: #306; }
.bdc-purple { border-color: #7f00ff; }
.bdc-purple-pale { border-color: #f2e5ff; }
.bdc-purple-light { border-color: #bf80ff; }
.bdc-purple-dark { border-color: #306; }
.bgc-purple { background-color: #7f00ff; }
.bgc-purple-pale { background-color: #f2e5ff; }
.bgc-purple-light { background-color: #bf80ff; }
.bgc-purple-dark { background-color: #306; }
