/*! commoncolors.css v.1.0.0-beta Build #190625 */
/*
  red
*/
.red { color: #f00; }
.red-p { color: #fff0f0; }
.red-l { color: #ff8080; }
.red-d { color: #600; }
.border-red { border-color: #f00; }
.border-red-p { border-color: #fff0f0; }
.border-red-l { border-color: #ff8080; }
.border-red-d { border-color: #600; }
.bg-red { background-color: #f00; }
.bg-red-p { background-color: #fff0f0; }
.bg-red-l { background-color: #ff8080; }
.bg-red-d { background-color: #600; }
