/*! commoncolors.css v.1.0.0 Build #191115 */
/*
  red
*/
.red, .red-3 { color: #f00; }
.red-1 { color: #fff0f0; }
.red-2 { color: #ff8080; }
.red-4 { color: #600; }
.bd-red, .bd-red-3 { border-color: #f00; }
.bd-red-1 { border-color: #fff0f0; }
.bd-red-2 { border-color: #ff8080; }
.bd-red-4 { border-color: #600; }
.bg-red, .bg-red-3 { background-color: #f00; }
.bg-red-1 { background-color: #fff0f0; }
.bg-red-2 { background-color: #ff8080; }
.bg-red-4 { background-color: #600; }
