/*! commoncolors.css v.1.0.0-alpha-3 Build #190327 */
/*
  violet
*/
.c-violet { color: #7f00ff; }
.c-violet-pale { color: #f2e5ff; }
.c-violet-light { color: #bf80ff; }
.c-violet-dark { color: #306; }
.bdc-violet { border-color: #7f00ff; }
.bdc-violet-pale { border-color: #f2e5ff; }
.bdc-violet-light { border-color: #bf80ff; }
.bdc-violet-dark { border-color: #306; }
.bgc-violet { background-color: #7f00ff; }
.bgc-violet-pale { background-color: #f2e5ff; }
.bgc-violet-light { background-color: #bf80ff; }
.bgc-violet-dark { background-color: #306; }
