/*! commoncolors.css v.1.0.0 Build #191115 */
/*
  violet
*/
.violet, .violet-3 { color: #7f00ff; }
.violet-1 { color: #f7f0ff; }
.violet-2 { color: #bf80ff; }
.violet-4 { color: #306; }
.bd-violet, .bd-violet-3 { border-color: #7f00ff; }
.bd-violet-1 { border-color: #f7f0ff; }
.bd-violet-2 { border-color: #bf80ff; }
.bd-violet-4 { border-color: #306; }
.bg-violet, .bg-violet-3 { background-color: #7f00ff; }
.bg-violet-1 { background-color: #f7f0ff; }
.bg-violet-2 { background-color: #bf80ff; }
.bg-violet-4 { background-color: #306; }
