/*! commoncolors.css v.1.0.0-alpha-2 Build #190322 */
/*
  yellow
*/
.c-yellow { color: #ff0; }
.c-yellow-pale { color: #ffffe5; }
.c-yellow-light { color: #ffff80; }
.c-yellow-dark { color: #660; }
.bdc-yellow { border-color: #ff0; }
.bdc-yellow-pale { border-color: #ffffe5; }
.bdc-yellow-light { border-color: #ffff80; }
.bdc-yellow-dark { border-color: #660; }
.bgc-yellow { background-color: #ff0; }
.bgc-yellow-pale { background-color: #ffffe5; }
.bgc-yellow-light { background-color: #ffff80; }
.bgc-yellow-dark { background-color: #660; }
