@import './commoncolors--vars';
/*
  blue
*/
.blue       { color : var(--blue); }
.blue-pale  { color : var(--blue-pale); }
.blue-light { color : var(--blue-light); }
.blue-dark  { color : var(--blue-dark); }

.bd-c\(blue\)        { border-color : var(--blue); }
.bd-c\(blue-pale\)   { border-color : var(--blue-pale); }
.bd-c\(blue-light\)  { border-color : var(--blue-light); }
.bd-c\(blue-dark\)   { border-color : var(--blue-dark); }

.bg-c\(blue\)        { background-color : var(--blue); }
.bg-c\(blue-pale\)   { background-color : var(--blue-pale); }
.bg-c\(blue-light\)  { background-color : var(--blue-light); }
.bg-c\(blue-dark\)   { background-color : var(--blue-dark); }
