@import './commoncolors--vars';
/*
  blue
*/
.blue       { color : var(--blue); }
.blue-p  { color : var(--blue-p); }
.blue-l { color : var(--blue-l); }
.blue-d  { color : var(--blue-d); }

.border-blue         { border-color : var(--blue); }
.border-blue-p    { border-color : var(--blue-p); }
.border-blue-l   { border-color : var(--blue-l); }
.border-blue-d    { border-color : var(--blue-d); }

.bg-blue         { background-color : var(--blue); }
.bg-blue-p    { background-color : var(--blue-p); }
.bg-blue-l   { background-color : var(--blue-l); }
.bg-blue-d    { background-color : var(--blue-d); }
