/*
  BORDER COLORS LITE

  Colors class basename :
    bd-black, bd-white, bd-gray, bd-red, bd-orange,
    bd-yellow, bd-lime, bd-green, bd-greenspring, bd-cyan, bd-bluesky,
    bd-blue, bd-violet, bd-fuchsia, bd-pink

  Modifiers : -pale,  -dark

  Ex : bd-gray-pale, bd-red, bd-pink-dark
*/

@import './palette-vars';

.bd-black { border-color : var(--black); }
.bd-white { border-color : var(--white); }

.bd-gray        { border-color : var(--gray); }
.bd-gray-pale   { border-color : var(--gray-pale); }
.bd-gray-dark   { border-color : var(--gray-dark); }

.bd-red         { border-color : var(--red); }
.bd-red-pale    { border-color : var(--red-pale); }
.bd-red-dark    { border-color : var(--red-dark); }

.bd-orange        { border-color : var(--orange); }
.bd-orange-pale   { border-color : var(--orange-pale); }
.bd-orange-dark   { border-color : var(--orange-dark); }

.bd-yellow        { border-color : var(--yellow); }
.bd-yellow-pale   { border-color : var(--yellow-pale); }
.bd-yellow-dark   { border-color : var(--yellow-dark); }

.bd-lime          { border-color : var(--lime); }
.bd-lime-pale     { border-color : var(--lime-pale); }
.bd-lime-dark     { border-color : var(--lime-dark); }

.bd-green         { border-color : var(--green); }
.bd-green-pale    { border-color : var(--green-pale); }
.bd-green-dark    { border-color : var(--green-dark); }

.bd-greenspring          { border-color : var(--greenspring); }
.bd-greenspring-pale     { border-color : var(--greenspring-pale); }
.bd-greenspring-dark     { border-color : var(--greenspring-dark); }

.bd-cyan          { border-color : var(--cyan); }
.bd-cyan-pale     { border-color : var(--cyan-pale); }
.bd-cyan-dark     { border-color : var(--cyan-dark); }

.bd-bluesky          { border-color : var(--bluesky); }
.bd-bluesky-pale     { border-color : var(--bluesky-pale); }
.bd-bluesky-dark     { border-color : var(--bluesky-dark); }

.bd-blue        { border-color : var(--blue); }
.bd-blue-pale   { border-color : var(--blue-pale); }
.bd-blue-dark   { border-color : var(--blue-dark); }

.bd-violet        { border-color : var(--violet); }
.bd-violet-pale   { border-color : var(--violet-pale); }
.bd-violet-dark   { border-color : var(--violet-dark); }

.bd-fuchsia       { border-color : var(--fuchsia); }
.bd-fuchsia-pale  { border-color : var(--fuchsia-pale); }
.bd-fuchsia-dark  { border-color : var(--fuchsia-dark); }

.bd-pink          { border-color : var(--pink); }
.bd-pink-pale     { border-color : var(--pink-pale); }
.bd-pink-dark     { border-color : var(--pink-dark); }
