/*
  COLORS

  Main colors classname :
    black, white, gray, red, orange,
    yellow, lime, green, teal, cyan, blue,
    indigo, violet, fuchsia, pink

  Shade modifiers : -pale, -light, -dark, -black

  Ex : gray-pale, red, pink-dark ...
*/

@import './palette-vars';

.black { color : var(--black); }
.white { color : var(--white); }

.gray        { color : var(--gray); }
.gray-pale   { color : var(--gray-pale); }
.gray-light  { color : var(--gray-light); }
.gray-dark   { color : var(--gray-dark); }
.gray-black  { color : var(--gray-black); }

.red         { color : var(--red); }
.red-pale    { color : var(--red-pale); }
.red-light   { color : var(--red-light); }
.red-dark    { color : var(--red-dark); }
.red-black   { color : var(--red-black); }

.orange        { color : var(--orange); }
.orange-pale   { color : var(--orange-pale); }
.orange-light  { color : var(--orange-light); }
.orange-dark   { color : var(--orange-dark); }
.orange-black  { color : var(--orange-black); }

.yellow        { color : var(--yellow); }
.yellow-pale   { color : var(--yellow-pale); }
.yellow-light  { color : var(--yellow-light); }
.yellow-dark   { color : var(--yellow-dark); }
.yellow-black  { color : var(--yellow-black); }

.lime          { color : var(--lime); }
.lime-pale     { color : var(--lime-pale); }
.lime-light    { color : var(--lime-light); }
.lime-dark     { color : var(--lime-dark); }
.lime-black    { color : var(--lime-black); }

.green         { color : var(--green); }
.green-pale    { color : var(--green-pale); }
.green-light   { color : var(--green-light); }
.green-dark    { color : var(--green-dark); }
.green-black   { color : var(--green-black); }

.teal          { color : var(--teal); }
.teal-pale     { color : var(--teal-pale); }
.teal-light    { color : var(--teal-light); }
.teal-dark     { color : var(--teal-dark); }
.teal-black    { color : var(--teal-black); }

.cyan          { color : var(--cyan); }
.cyan-pale     { color : var(--cyan-pale); }
.cyan-light    { color : var(--cyan-light); }
.cyan-dark     { color : var(--cyan-dark); }
.cyan-black    { color : var(--cyan-black); }

.blue          { color : var(--blue); }
.blue-pale     { color : var(--blue-pale); }
.blue-light    { color : var(--blue-light); }
.blue-dark     { color : var(--blue-dark); }
.blue-black    { color : var(--blue-black); }

.indigo        { color : var(--indigo); }
.indigo-pale   { color : var(--indigo-pale); }
.indigo-light  { color : var(--indigo-light); }
.indigo-dark   { color : var(--indigo-dark); }
.indigo-black  { color : var(--indigo-black); }

.violet        { color : var(--violet); }
.violet-pale   { color : var(--violet-pale); }
.violet-light  { color : var(--violet-light); }
.violet-dark   { color : var(--violet-dark); }
.violet-black  { color : var(--violet-black); }

.fuchsia       { color : var(--fuchsia); }
.fuchsia-pale  { color : var(--fuchsia-pale); }
.fuchsia-light { color : var(--fuchsia-light); }
.fuchsia-dark  { color : var(--fuchsia-dark); }
.fuchsia-black { color : var(--fuchsia-black); }

.pink          { color : var(--pink); }
.pink-pale     { color : var(--pink-pale); }
.pink-light    { color : var(--pink-light); }
.pink-dark     { color : var(--pink-dark); }
.pink-black    { color : var(--pink-black); }
