@import './commoncolors--vars';
/*
  cyan
*/
.cyan       { color : var(--cyan); }
.cyan-p  { color : var(--cyan-p); }
.cyan-l { color : var(--cyan-l); }
.cyan-d  { color : var(--cyan-d); }

.border-cyan         { border-color : var(--cyan); }
.border-cyan-p    { border-color : var(--cyan-p); }
.border-cyan-l   { border-color : var(--cyan-l); }
.border-cyan-d    { border-color : var(--cyan-d); }

.bg-cyan        { background-color : var(--cyan); }
.bg-cyan-p   { background-color : var(--cyan-p); }
.bg-cyan-l  { background-color : var(--cyan-l); }
.bg-cyan-d   { background-color : var(--cyan-d); }
