@import './commoncolors--vars';
/*
  cyan
*/
.cyan,
.cyan-3  { color : var(--cyan); }
.cyan-1  { color : var(--cyan-1); }
.cyan-2  { color : var(--cyan-2); }
.cyan-4  { color : var(--cyan-4); }

.bd-cyan,
.bd-cyan-3  { border-color : var(--cyan); }
.bd-cyan-1  { border-color : var(--cyan-1); }
.bd-cyan-2  { border-color : var(--cyan-2); }
.bd-cyan-4  { border-color : var(--cyan-4); }

.bg-cyan,
.bg-cyan-3  { background-color : var(--cyan); }
.bg-cyan-1  { background-color : var(--cyan-1); }
.bg-cyan-2  { background-color : var(--cyan-2); }
.bg-cyan-4  { background-color : var(--cyan-4); }
