@import './commoncolors--vars';
/*
  gray
*/

.black  { color : var(--black); }
.white  { color : var(--white); }

.gray,
.gray-3  { color : var(--gray); }
.gray-1  { color : var(--gray-1); }
.gray-2  { color : var(--gray-2); }
.gray-4  { color : var(--gray-4); }

.bd-black  { border-color : var(--black); }
.bd-white  { border-color : var(--white); }
.bd-gray,
.bd-gray-3 { border-color : var(--gray); }
.bd-gray-1 { border-color : var(--gray-1); }
.bd-gray-2 { border-color : var(--gray-2); }
.bd-gray-4 { border-color : var(--gray-4); }

.bg-black  { background-color : var(--black); }
.bg-white  { background-color : var(--white); }
.bg-gray,
.bg-gray-3 { background-color : var(--gray); }
.bg-gray-1 { background-color : var(--gray-1); }
.bg-gray-2 { background-color : var(--gray-2); }
.bg-gray-4 { background-color : var(--gray-4); }
