@import './commoncolors--vars';
/*
  green
*/
.c\(green\)        { color : var(--green); }
.c\(green-pale\)   { color : var(--green-pale); }
.c\(green-light\)  { color : var(--green-light); }
.c\(green-dark\)   { color : var(--green-dark); }

.bd-c\(green\)        { border-color : var(--green); }
.bd-c\(green-pale\)   { border-color : var(--green-pale); }
.bd-c\(green-light\)  { border-color : var(--green-light); }
.bd-c\(green-dark\)   { border-color : var(--green-dark); }

.bg-c\(green\)        { background-color : var(--green); }
.bg-c\(green-pale\)   { background-color : var(--green-pale); }
.bg-c\(green-light\)  { background-color : var(--green-light); }
.bg-c\(green-dark\)   { background-color : var(--green-dark); }
