@import './commoncolors--vars';
/*
  green
*/
.green,
.green-3 { color : var(--green); }
.green-1 { color : var(--green-1); }
.green-2 { color : var(--green-2); }
.green-4 { color : var(--green-4); }

.bd-green,
.bd-green-3  { border-color : var(--green); }
.bd-green-1  { border-color : var(--green-1); }
.bd-green-2  { border-color : var(--green-2); }
.bd-green-4  { border-color : var(--green-4); }

.bg-green,
.bg-green-3  { background-color : var(--green); }
.bg-green-1  { background-color : var(--green-1); }
.bg-green-2  { background-color : var(--green-2); }
.bg-green-4  { background-color : var(--green-4); }
