@import './commoncolors--vars';
/*
  magenta
*/
.magenta,
.magenta-3  { color : var(--magenta); }
.magenta-1  { color : var(--magenta-1); }
.magenta-2  { color : var(--magenta-2); }
.magenta-4  { color : var(--magenta-4); }

.bd-magenta,
.bd-magenta-3  { border-color : var(--magenta); }
.bd-magenta-1  { border-color : var(--magenta-1); }
.bd-magenta-2  { border-color : var(--magenta-2); }
.bd-magenta-4  { border-color : var(--magenta-4); }

.bg-magenta,
.bg-magenta-3  { background-color : var(--magenta); }
.bg-magenta-1  { background-color : var(--magenta-1); }
.bg-magenta-2  { background-color : var(--magenta-2); }
.bg-magenta-4  { background-color : var(--magenta-4); }
