@import './commoncolors--vars';
/*
  magenta
*/
.c\(magenta\)        { color : var(--magenta); }
.c\(magenta-pale\)   { color : var(--magenta-pale); }
.c\(magenta-light\)  { color : var(--magenta-light); }
.c\(magenta-dark\)   { color : var(--magenta-dark); }

.bd-c\(magenta\)        { border-color : var(--magenta); }
.bd-c\(magenta-pale\)   { border-color : var(--magenta-pale); }
.bd-c\(magenta-light\)  { border-color : var(--magenta-light); }
.bd-c\(magenta-dark\)   { border-color : var(--magenta-dark); }

.bg-c\(magenta\)        { background-color : var(--magenta); }
.bg-c\(magenta-pale\)   { background-color : var(--magenta-pale); }
.bg-c\(magenta-light\)  { background-color : var(--magenta-light); }
.bg-c\(magenta-dark\)   { background-color : var(--magenta-dark); }
