@import './commoncolors--vars';
/*
  orange
*/
.orange        { color : var(--orange); }
.orange-p   { color : var(--orange-p); }
.orange-l  { color : var(--orange-l); }
.orange-d   { color : var(--orange-d); }

.border-orange         { border-color : var(--orange); }
.border-orange-p    { border-color : var(--orange-p); }
.border-orange-l   { border-color : var(--orange-l); }
.border-orange-d    { border-color : var(--orange-d); }

.bg-orange         { background-color : var(--orange); }
.bg-orange-p    { background-color : var(--orange-p); }
.bg-orange-l   { background-color : var(--orange-l); }
.bg-orange-d    { background-color : var(--orange-d); }
