@import './commoncolors--vars';
/*
  orange
*/
.orange        { color : var(--orange); }
.orange-pale   { color : var(--orange-pale); }
.orange-light  { color : var(--orange-light); }
.orange-dark   { color : var(--orange-dark); }

.bd-c\(orange\)        { border-color : var(--orange); }
.bd-c\(orange-pale\)   { border-color : var(--orange-pale); }
.bd-c\(orange-light\)  { border-color : var(--orange-light); }
.bd-c\(orange-dark\)   { border-color : var(--orange-dark); }

.bg-c\(orange\)        { background-color : var(--orange); }
.bg-c\(orange-pale\)   { background-color : var(--orange-pale); }
.bg-c\(orange-light\)  { background-color : var(--orange-light); }
.bg-c\(orange-dark\)   { background-color : var(--orange-dark); }
