@import './commoncolors--vars';
/*
  orange
*/
.orange,
.orange-3 { color : var(--orange); }
.orange-1 { color : var(--orange-1); }
.orange-2 { color : var(--orange-2); }
.orange-4 { color : var(--orange-4); }

.bd-orange,
.bd-orange-3 { border-color : var(--orange); }
.bd-orange-1 { border-color : var(--orange-1); }
.bd-orange-2 { border-color : var(--orange-2); }
.bd-orange-4 { border-color : var(--orange-4); }

.bg-orange,
.bg-orange-3 { background-color : var(--orange); }
.bg-orange-1 { background-color : var(--orange-1); }
.bg-orange-2 { background-color : var(--orange-2); }
.bg-orange-4 { background-color : var(--orange-4); }
