
/* PALETTE CSS VARS - V.1.1 */

:root {
  --black: rgb(0,0,0);
  --white: rgb(255,255,255);

  --gray-pale: color(hsl(0,0%,95%));
  --gray-light: color(hsl(0,0%,80%));
  --gray: color(hsl(0,0%,50%));
  --gray-dark: color(hsl(0,0%,30%));
  --gray-black: color(hsl(0,0%,15%));

  --red-pale: color(hsl(0,100%,95%));
  --red-light: color(hsl(0,100%,80%));
  --red: color(hsl(0,100%,50%));
  --red-dark: color(hsl(0,100%,30%));
  --red-black: color(hsl(0,100%,15%));

  --orange-pale: color(hsl(30,100%,95%));
  --orange-light: color(hsl(30,100%,80%));
  --orange: color(hsl(30,100%,50%));
  --orange-dark: color(hsl(30,100%,30%));
  --orange-black: color(hsl(30,100%,15%));

  --yellow-pale: color(hsl(60,100%,95%));
  --yellow-light: color(hsl(60,100%,80%));
  --yellow: color(hsl(60,100%,50%));
  --yellow-dark: color(hsl(60,100%,30%));
  --yellow-black: color(hsl(60,100%,15%));

  --lime-pale: color(hsl(90,100%,95%));
  --lime-light: color(hsl(90,100%,80%));
  --lime: color(hsl(90,100%,50%));
  --lime-dark: color(hsl(90,100%,30%));
  --lime-black: color(hsl(90,100%,15%));

  --green-pale: color(hsl(120,100%,95%));
  --green-light: color(hsl(120,100%,80%));
  --green: color(hsl(120,100%,50%));
  --green-dark: color(hsl(120,100%,30%));
  --green-black: color(hsl(120,100%,15%));

  --teal-pale: color(hsl(150,100%,95%));
  --teal-light: color(hsl(150,100%,80%));
  --teal: color(hsl(150,100%,50%));
  --teal-dark: color(hsl(150,100%,30%));
  --teal-black: color(hsl(150,100%,15%));

  --cyan-pale: color(hsl(180,100%,95%));
  --cyan-light: color(hsl(180,100%,80%));
  --cyan: color(hsl(180,100%,50%));
  --cyan-dark: color(hsl(180,100%,30%));
  --cyan-black: color(hsl(180,100%,15%));

  --blue-pale: color(hsl(210,100%,95%));
  --blue-light: color(hsl(210,100%,80%));
  --blue: color(hsl(210,100%,50%));
  --blue-dark: color(hsl(210,100%,30%));
  --blue-black: color(hsl(210,100%,15%));

  --indigo-pale: color(hsl(240,100%,95%));
  --indigo-light: color(hsl(240,100%,80%));
  --indigo: color(hsl(240,100%,50%));
  --indigo-dark: color(hsl(240,100%,30%));
  --indigo-black: color(hsl(240,100%,15%));

  --violet-pale: color(hsl(270,100%,95%));
  --violet-light: color(hsl(270,100%,80%));
  --violet: color(hsl(270,100%,50%));
  --violet-dark: color(hsl(270,100%,30%));
  --violet-black: color(hsl(270,100%,15%));

  --fuchsia-pale: color(hsl(300,100%,95%));
  --fuchsia-light: color(hsl(300,100%,80%));
  --fuchsia: color(hsl(300,100%,50%));
  --fuchsia-dark: color(hsl(300,100%,30%));
  --fuchsia-black: color(hsl(300,100%,15%));

  --pink-pale: color(hsl(330,100%,95%));
  --pink-light: color(hsl(330,100%,80%));
  --pink: color(hsl(330,100%,50%));
  --pink-dark: color(hsl(330,100%,30%));
  --pink-black: color(hsl(330,100%,15%));

}
