@import './commoncolors--vars';
/*
  pink
*/
.pink,
.pink-3 { color : var(--pink); }
.pink-1 { color : var(--pink-1); }
.pink-2 { color : var(--pink-2); }
.pink-4 { color : var(--pink-4); }

.bd-pink,
.bd-pink-3  { border-color : var(--pink); }
.bd-pink-1  { border-color : var(--pink-1); }
.bd-pink-2  { border-color : var(--pink-2); }
.bd-pink-4  { border-color : var(--pink-4); }

.bg-pink,
.bg-pink-3  { background-color : var(--pink); }
.bg-pink-1  { background-color : var(--pink-1); }
.bg-pink-2  { background-color : var(--pink-2); }
.bg-pink-4  { background-color : var(--pink-4); }
