@import './commoncolors--vars';
/*
  purple
*/
.c-purple        { color : var(--purple); }
.c-purple-pale   { color : var(--purple-pale); }
.c-purple-light  { color : var(--purple-light); }
.c-purple-dark   { color : var(--purple-dark); }

.bdc-purple        { border-color : var(--purple); }
.bdc-purple-pale   { border-color : var(--purple-pale); }
.bdc-purple-light  { border-color : var(--purple-light); }
.bdc-purple-dark   { border-color : var(--purple-dark); }

.bgc-purple        { background-color : var(--purple); }
.bgc-purple-pale   { background-color : var(--purple-pale); }
.bgc-purple-light  { background-color : var(--purple-light); }
.bgc-purple-dark   { background-color : var(--purple-dark); }
