@import './commoncolors--vars';
/*
  red
*/
.red,
.red-3  { color : var(--red); }
.red-1  { color : var(--red-1); }
.red-2  { color : var(--red-2); }
.red-4  { color : var(--red-4); }

.bd-red,
.bd-red-3  { border-color : var(--red); }
.bd-red-1  { border-color : var(--red-1); }
.bd-red-2  { border-color : var(--red-2); }
.bd-red-4  { border-color : var(--red-4); }

.bg-red ,
.bg-red-3  { background-color : var(--red); }
.bg-red-1  { background-color : var(--red-1); }
.bg-red-2  { background-color : var(--red-2); }
.bg-red-4  { background-color : var(--red-4); }
