@import './commoncolors--vars';
/*
  violet
*/
.c\(violet\)        { color : var(--violet); }
.c\(violet-pale\)   { color : var(--violet-pale); }
.c\(violet-light\)  { color : var(--violet-light); }
.c\(violet-dark\)   { color : var(--violet-dark); }

.bd-c\(violet\)        { border-color : var(--violet); }
.bd-c\(violet-pale\)   { border-color : var(--violet-pale); }
.bd-c\(violet-light\)  { border-color : var(--violet-light); }
.bd-c\(violet-dark\)   { border-color : var(--violet-dark); }

.bg-c\(violet\)        { background-color : var(--violet); }
.bg-c\(violet-pale\)   { background-color : var(--violet-pale); }
.bg-c\(violet-light\)  { background-color : var(--violet-light); }
.bg-c\(violet-dark\)   { background-color : var(--violet-dark); }
