@import './commoncolors--vars';
/*
  violet
*/
.violet,
.violet-3  { color : var(--violet); }
.violet-1  { color : var(--violet-1); }
.violet-2  { color : var(--violet-2); }
.violet-4  { color : var(--violet-4); }

.bd-violet,
.bd-violet-3  { border-color : var(--violet); }
.bd-violet-1  { border-color : var(--violet-1); }
.bd-violet-2  { border-color : var(--violet-2); }
.bd-violet-4  { border-color : var(--violet-4); }

.bg-violet,
.bg-violet-3  { background-color : var(--violet); }
.bg-violet-1  { background-color : var(--violet-1); }
.bg-violet-2  { background-color : var(--violet-2); }
.bg-violet-4  { background-color : var(--violet-4); }
