@import './commoncolors--vars';
/*
  violet
*/
.violet        { color : var(--violet); }
.violet-p   { color : var(--violet-p); }
.violet-l  { color : var(--violet-l); }
.violet-d   { color : var(--violet-d); }

.border-violet         { border-color : var(--violet); }
.border-violet-p    { border-color : var(--violet-p); }
.border-violet-l   { border-color : var(--violet-l); }
.border-violet-d    { border-color : var(--violet-d); }

.bg-violet         { background-color : var(--violet); }
.bg-violet-p    { background-color : var(--violet-p); }
.bg-violet-l   { background-color : var(--violet-l); }
.bg-violet-d    { background-color : var(--violet-d); }
