@import './commoncolors--vars';
/*
  yellow
*/
.yellow        { color : var(--yellow); }
.yellow-p   { color : var(--yellow-p); }
.yellow-l  { color : var(--yellow-l); }
.yellow-d   { color : var(--yellow-d); }

.border-yellow         { border-color : var(--yellow); }
.border-yellow-p    { border-color : var(--yellow-p); }
.border-yellow-l   { border-color : var(--yellow-l); }
.border-yellow-d    { border-color : var(--yellow-d); }

.bg-yellow         { background-color : var(--yellow); }
.bg-yellow-p    { background-color : var(--yellow-p); }
.bg-yellow-l   { background-color : var(--yellow-l); }
.bg-yellow-d    { background-color : var(--yellow-d); }
