@import './commoncolors--vars';
/*
  yellow
*/
.yellow,
.yellow   { color : var(--yellow); }
.yellow-1 { color : var(--yellow-1); }
.yellow-2 { color : var(--yellow-2); }
.yellow-4 { color : var(--yellow-4); }

.bd-yellow,
.bd-yellow-3  { border-color : var(--yellow); }
.bd-yellow-1  { border-color : var(--yellow-1); }
.bd-yellow-2  { border-color : var(--yellow-2); }
.bd-yellow-4  { border-color : var(--yellow-4); }

.bg-yellow,
.bg-yellow-3  { background-color : var(--yellow); }
.bg-yellow-1  { background-color : var(--yellow-1); }
.bg-yellow-2  { background-color : var(--yellow-2); }
.bg-yellow-4  { background-color : var(--yellow-4); }
